@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  background-color: rgb(30, 30, 30);
  color: rgb(100, 100, 100);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding-top: 20px;
}

#circle {
  height: 50px;
  width: 50px;
  left: 20px;
  border-radius: 50px;
  background-color: crimson;
  position: relative;
}
